doctype html
html
  head
    title Sennobia Face
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body
    
    header
      nav.container
        .Brand
        ul.flex
          li
            a(href="") Home
          li
            a(href="#products").nav-products Products
          li.holder
          li
            a(href="#about").nav-about About
          li
            a(href="") Contact


    .Hero
      .Hero__content
        h1.Brand.animate.fade-in-down-big.delay-1 Sennobia
          span Face
        h2.Tagline.animate.fade-in.delay-3 Love your skin

    
    section.flex.Products#products
      .Product.Regenerating.full.half-800
        .Product__image
          img(src="img/products/regen.jpg", alt="Regenerating Cream")
        .Product__content
          h3.Product__title Regenerating<br>Cream
          .Button__group
            a.Button--outlined.Button__purchase(href="") Purchase
            a.Button--outlined(href="") More Info

      .Product.Rejuvenating.full.half-800
        .Product__image
          img(src="img/products/rejuv.jpg", alt="Rejuvenating Cream")
        .Product__content
          h3.Product__title Rejuvenating<br>Cream
          .Button__group
            a.Button--outlined.Button__purchase(href="") Purchase
            a.Button--outlined(href="") More Info

      .Product.Eye.full
        .Product__image
          img(src="img/products/eye.jpg", alt="Eye Renewal Cream")
        .Product__content
          h3.Product__title Eye Renewal<br>Cream
          .Button__group
            a.Button--outlined.Button__purchase(href="") Purchase
            a.Button--outlined(href="") More Info

    
    section.About#about
      .container
        .three-fourth-800
          h2 Love your skin
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime suscipit illum praesentium nobis culpa expedita accusamus blanditiis mollitia soluta iste quia, ipsum consequatur cum, nulla quam debitis magni? Saepe, impedit?



  
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js")
    script(type="text/javascript", src="js/main.js")

