doctype html
html
  head
    title Title Site
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body
    
    header
      nav.container
        .Brand
        ul.flex
          li
            a(href="") Home
          li
            a(href="") Products
          li.holder
          li
            a(href="") About
          li
            a(href="") Contact


    section.Hero
      &nbsp;

    
    section.flex.Products
      .Product.Regenerating.full.half-800
        h3.Product__title Regenerating<br>Cream
        a.Button--outlined(href="") Purchase

      .Product.Rejuvenating.full.half-800
        h3.Product__title Rejuvenating<br>Cream
        a.Button--outlined(href="") Purchase

      .Product.Eye.full
        h3.Product__title Eye Renewal<br>Cream
        a.Button--outlined(href="") Purchase

    
    section.container
      .flex.Info
        .full
          h3 Love your skin
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime suscipit illum praesentium nobis culpa expedita accusamus blanditiis mollitia soluta iste quia, ipsum consequatur cum, nulla quam debitis magni? Saepe, impedit?



    .page-wrapper
      .container-full
        .flex.center.three
          div.full.half-500.third-800.gray
            h1 Flexbox Grid
        .flex.full.two-700.four-900.has-padding
          div 
            h1 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores cupiditate illo sit ullam nostrum blanditiis quo repellat esse unde veritatis dolor, atque libero doloribus soluta expedita accusamus fugiat numquam!
            


          div
            h1 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aliquid qui officiis voluptatum necessitatibus repellendus, voluptates laudantium quidem incidunt blanditiis eum dolores, illo perferendis soluta quis obcaecati eaque delectus commodi!

          div
            h1 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error architecto velit fuga libero at laboriosam modi maxime quas aspernatur, ipsum quia, nisi a? Enim quod ratione earum dolorem fugit, eius.

          div
            h1 4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi obcaecati aliquid culpa, sit architecto, vitae sunt nam placeat, facilis vel enim, explicabo quas ipsum veritatis. Laboriosam facilis, distinctio necessitatibus atque!

        .flex
          .full.fourth-700
            h6 this is a title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eos. Illum fugiat tempora, pariatur ut nostrum? Eos, iste harum modi libero, vitae similique perspiciatis soluta commodi eius beatae, consequuntur dolorum.
          .full.three-fourth-700
            h6 another title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quas quos deleniti voluptatum consectetur distinctio, voluptatibus tempora, dicta laboriosam dolor earum sapiente tempore debitis, similique quo vero repudiandae cum voluptatem?

  

    script(type="text/javascript", src="js/main.js")
