doctype html
html
  head
    title Sennobia Face
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body.landing-page
    



    .Hero
      .Hero__content
        h1.Brand.animate.fade-in-down-big.delay-1 Sennobia
          span Face
        h2.Tagline.animate.fade-in.delay-3 Love your skin

        p.serif.animate.fade-in-up.delay-3.
         Contact info here.
         <br>
         956-254-3000