// variables
$sans-serif    = 'Montserrat', sans-serif
$serif         = 'Vollkorn', serif

$sennobia-blue = #d9f0f7
$green         = #a3bbb5
$blue          = #17375a
$light-blue    = #7FB2CC
$purple        = #3c1239
$red           = #c84644
$black = $text-color    = #222222
$white         = #ffffff
$light-gray    = #d8d8d8
$dark-gray     = #999999

$font-base           ?= rem(16px)
$line-height-base    ?= 1.5
$space               ?= 30px 