@import "axis"

// variables
$sans-serif    = 'Montserrat', sans-serif
$serif         = 'Vollkorn', serif

$sennobia-blue = #d9f0f7
$green         = #a3bbb5
$blue          = #17375a
$light-blue    = #7FB2CC
$purple        = #3c1239
$red           = #c84644
$black = $text-color    = #222222
$white         = #ffffff
$light-gray    = #d8d8d8
$dark-gray     = #999999

$font-base           ?= rem(16px)
$line-height-base    ?= 1.5
$space               ?= 30px 


// @import "yeticss"
@import "_base"
@import "_mixins"
@import "_animations"
@import "_grid"
@import 'https://fonts.googleapis.com/css?family=Montserrat|Vollkorn'
normalize-css()
border-box-html()


body
  color: $text-color
  font-family: $serif
  // debug()


h1,h2,h3,h4,h5,h6
  font-family: $sans-serif


.container-full
  margin: 0 auto
  width: 100%

.Button--outlined
  border-radius: 5px
  border-width: 2px
  border-style: solid
  font-family: $sans-serif
  margin-right: 10px
  padding: 15px 20px
  &:hover
    background-color: rgba($white, 0.2)
  &:last-of-type
    margin-left: 0
  

  




// header
header
  background-color: $white
  position: fixed
  width: 100%
  z-index: 15
nav
  padding: 10px 0
  .Brand
    background: url("../img/senn-logo.svg") center center no-repeat
    background-size: 150px 150px
    height: 130px
    left: calc(50% - 100px)
    position: fixed
    transition: all 0.3s
    width: 200px
    &.on-scroll
      background-size: 70px 70px
      height: 50px
      
  ul
    align-items: center
    font-family: $sans-serif
    font-size: rem(16px)
    height: 50px
    margin: 0
    padding: 0
    position: relative
    uppercase()
    li
      list-style: none
      text-align: center
      a
        color: lighten($blue, 20%)
        display: block
        padding: 10px
        &:hover
          color: lighten($blue, 60%)



// hero
.Hero
  // background: url('../img/gradient.svg'), url('../img/hero-image.jpg')
  // background-attachment: fixed
  // background-position: center 70px, center -200px
  // background-repeat: no-repeat
  // background-size: 600px, cover
  background: url('../img/hero-image.jpg')
  background-attachment: fixed
  background-position: center -200px
  background-repeat: no-repeat
  background-size: cover
  height: 500px
  position: relative
  &:before
    background: linear-gradient(-45deg, rgba($sennobia-blue, 0.15), rgba($purple, 0.65))
    content: ''
    display: block
    height: 500px
    left: 0
    position: absolute
    top: 0
    width: 100%
  
  &__content
    left: 0
    margin: 10em 4em 0
    position: fixed
    text-align: center
    top: 0
    width: 50%
.Brand
  color: $white
  font-weight: normal
  letter-spacing: .5rem
  uppercase()
  span
    display: block
    font-size: rem(16px)
.Tagline
  color: $sennobia-blue
  font-family: serif
  font-size: rem(32px)
  font-weight: normal
  margin-top: 2em
    



// Products
.Product
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  border-left: 10px solid #fff
  border-right: 10px solid #fff
  color: $white
  height: 40vh
  max-height: rem(400px)
  min-height: rem(330px)
  overflow: hidden
  padding: 4em
  position: relative
  text-align: center
  transition: all 0.5s ease-in
  & > *
    position: relative
  &:before
    content: ''
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    transition: background 0.3s
    width: 100%
    z-index: 5
  &:hover
    .Product__image
      transform: scale(1.5)
  &__content
    position: relative
    z-index: 10
  &__image
    left: 0
    position: absolute
    right: 0
    top: 0
    transition: $ease-out-quad
    z-index: 1
  &__title
    font-size: rem(24px)
    font-weight: normal
    margin-bottom: 2em
    uppercase()
  
  a
    color: $white
    &.Button__purchase
      background-color: rgba($light-blue, 0.75)
      color: rgba($white, 0.8)
      &:hover
        background-color: rgba($sennobia-blue, 0.95)
        color: lighten($blue, 60%)
        border-color: $white



  


.full
  margin-top: 10px

.Regenerating
  border-right: 5px solid #fff
  &:before
    background: rgba($green, 0.75)
  &:hover
    &:before
      background-color: rgba($green, 0.4)

.Rejuvenating
  border-left: 5px solid #fff
  &:before
    background: rgba($light-blue, 0.75)
  &:hover
    &:before
      background-color: rgba($light-blue, 0.4)
.Eye
  &:before
    background: rgba($blue, 0.75)
  &:hover
    &:before
      background-color: rgba($blue, 0.4)


// .test
//   padding: 1em
//   width: 600px
//   p
//     display: block
//     float: left
//     position: absolute
//     width: 200px
//     text-align: center
//     &:before
//       display: block
//       content: ''
//       background: #333
//       width: 40px
//       height: 2px
//       float: left
//       margin-top: 10px
//     &:after
//       display: block
//       content: ''
//       background: #333
//       width: 40px
//       height: 2px
//       float: right
//       margin-top: 10px


@keyframes stretchbg
  from
    translate3D:
  to
    background-size: 150%





